{% extends 'base.html.twig' %}

{% block title %}Acessar Painel{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-5" style="margin-top: 60px;">
            <div class="col-12">
                <h2>Acessar Painel</h2>
                <hr>
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-success">Acessar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
