<div style="text-align: center;">
    <h2>Sua Conta Foi Criada com Sucesso</h2>
    <p>
        Olá {{ name }}, tudo bem?!
    </p>

    <p>
        Sua conta em nosso blog foi criada e os dados de acesso estão abaixo: <br>
        Email: <strong>{{ email }}</strong> <br>
        Senha: <strong>USodsdnsodSAAA12121212</strong>
    </p>

    <hr>
    Email enviado em {{ "now"|date('d/M/Y H:i:s') }}
</div>